.top1 {
    font-size: 100px;
    color: blue;
    text-align: center;
};

.beg {
    font-size: 50px;
    text-align: center;
}

.start1 {
    font-size: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
};

.start1:hover {
    font-size: 100px;
    background-color: darkgoldenrod;
    border-radius: 15px;
};

